# ignore minimized .js and .css files
*.min.*

# ignore .js files compiled by coffeescript
/media/cs/*.js

# ignore .error files produced by wcoffee
/media/cs/*.error

# ignore dropbox metadata
.dropbox

# ignore site code configuration file
/setup/site.txt

# ignore sass cache
/media/.sass-cache

# ignore compiled css files
/media/stylesheets
