<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <meta name="description" content="{% block description %}A community-driven list-building website.{% endblock %}" />
    <title>Listfy!{% block title %}{% endblock %}</title>
	{% block extra_head %}
	{% endblock extra_head %}
	
	<link rel="stylesheet" href="/versioned/stylesheets/screen.css" type="text/css" media="screen">

    {# fixes HTML5 in IE #}
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>

<div id="wrapper">

<!--[if IE]>
    <noscript><div>
        <p>You are using Internet Explorer and have disabled JavaScript, making your browser unable to view HTML5. You are the bane of every web designer's existence. If you with to properly view this site, please either <a href="http://kb.iu.edu/data/ahqx.html">enable JavaScript</a> or upgrade to a browser that <i>isn't</i> used by the CIA as a torture device against designers. Free, standards-compliant browswers include <a href="http://www.mozilla.com/firefox/">Firefox</a>, <a href="www.apple.com/safari/">Safari</a>, and <a href="www.google.com/chrome ">Google Chrome</a>. They are gods to the maggot that is Internet Explorer.</p>
    </div></noscript>
<![endif]-->

{% block body %}

    {% block header %}
        <header>
        <a href="/">
            Website logo here. Pretty. Your Mom.
        </a>
        <nav>
            <ul>
                <li id="home"><a href="/">Home</a></li>
                <li id="all"><a href="">All Lists</a></li>
                <li id="create"><a href="/lists/create">Create a List</a></li>
                <li id="blah"><a href="">Blah</a></li>
            </ul>
        </nav>
        </header>
    {% endblock header %}
    
    {% block content %}
    	<div id="content">
    	
		{% block sidebar %}
        	<aside>
        		<p>Facebook connect thing</p>
        		<p>Most popular</p>
        		<p>Categories</p>
        		<p>Other stuff...blah</p>
        	</aside>
        {% endblock sidebar %}


    	{# in list_home only #}
    	{% block featured %}
    	{% endblock featured %}
    	
		{# in list_home only #}
    	{% block excerpt %}
    	{% endblock excerpt %}

			<div id="stickyFooterHelper" class="clear"></div>
			
        </div><!--#content-->
    {% endblock content %}
    
    {% block footer %}
    	<footer>
    		<p>Footer!</p>
    	</footer>
    {% endblock footer %}
    
    {% block scripts %}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        {# fixes .png transparency in IE 6 #}
    	<!--[if lt IE 7]><script defer type="text/javascript" src="http://ahmadsalehi.info/scripts/correct_png.js"></script><![endif]-->
    {% endblock scripts %}
{% endblock body %}

<div class="clear"></div>
</div><!--#wrapper-->
</body>

</html>
