<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <meta name="description" content="{% block description %}A community-driven list-building website.{% endblock %}" />
    <title>Listify!{% block title %}{% endblock %}</title>
	{% block extra_head %}
	{% endblock %}

    {# fixes HTML5 in IE #}
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>
{% block body %}
    {% block menu %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block scripts %}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        {# fixes .png transparency in IE 6 #}
    	<!--[if lt IE 7]><script defer type="text/javascript" src="http://ahmadsalehi.info/scripts/correct_png.js"></script><![endif]-->
    {% endblock %}
{% endblock %}
</body>

</html>
