{% load ratings %}
{% load cache %}
{% load oembed_tags %}
{% load webdesign %}
{% cache cache_period entry_html_1 entry.id hidden %}
<div id="entry-{{ entry.id }}" class="entry"{% if hidden %} style="display: none"{% endif %}>
  <h3>{{ entry.title }}</h3>
  <div>
      {% if entry.embeds_oembed %}
        {# Modify the following line to change embedded video dimensions to WIDTHxHEIGHT #}
        {{ entry.embed_url|oembed:"600x600" }}
      {% endif %}
      {% if entry.embeds_image %}
        <img src="{{ entry.image.display.url }}" width="{{ entry.image.display.width }}" height="{{ entry.image.display.height }}" alt="{{ entry.image.name }}" />
      {% endif %}
  </div>
  <div>{{ entry.description|striptags|urlize|linebreaks }}</div>
    <form action="/rate/lists/entry/{{ entry.id }}/" id="entry-{{ entry.id }}-stars-form" method="post">
      <span id="entry-{{ entry.id }}-stars-wrapper">
        <select name="score" style="width: 120px">
{% endcache %}
          {% generate_options entry.rating request %}
{% cache cache_period entry_html_2 entry.id %}
        </select>
      </span>
    </form>
  <div><small>Added by {{ entry.nickname }} on {{ entry.modified }}.</small></div>
</div>
{% endcache %}
