{% load ratings %}
{% load oembed_tags %}
<article id="entry-{{ entry.id }}" class="entry">
  <header class="entry-header">
    <h1>{{ entry.title }}</h1>
  </header>
  <section class="entry-embed">
    {% if entry.embeds_oembed %}
      <div class="embed-w" style="width: 510px">
        {# Modify the following line to change embedded video dimensions to WIDTHxHEIGHT #}
        {# Native youtube videos appear to have dimensions of 640x360 #}
        {{ entry.embed_url|oembed:"510x765" }}
      </div>
    {% endif %}
    {% if entry.embeds_image %}
      <div class="embed-w" style="width: {{ entry.image.display.width }}px">
        <img src="{{ entry.image.display.url }}" width="{{ entry.image.display.width }}" height="{{ entry.image.display.height }}" alt="{{ entry.image.name }}" />
      </div>
    {% endif %}
  </section>
  <section class="entry-description">
    {{ entry.description|striptags|urlize|linebreaks }}
  </section>
  <section class="entry-meta">
    <div class="stars-label">
      <b>rate this:</b>
    </div>
    <div class="stars-form">
      <form action="/rate/lists/entry/{{ entry.id }}/" id="entry-{{ entry.id }}-stars-form" method="post">
        <span id="entry-{{ entry.id }}-stars-wrapper">
          <select name="score" style="width: 120px">
            {% generate_options entry.rating request %}
          </select>
        </span>
      </form>
    </div>
    <div class="entry-info info">
      Added by <span class="nickname">{{ entry.nickname }}</span>
    </div>
  </section>
</article>
<hr />
