{% load ratings %}
{% load cache %}
{% load oembed_tags %}
{% cache cache_period entry_html_1 entry.id %}
<article id="entry-{{ entry.id }}" class="entry">
  <header class="entry-header">
    <h1>{{ entry.title }}</h1>
  </header>
  <section class="entry-embed">
    {% if entry.embeds_oembed %}
      {# Modify the following line to change embedded video dimensions to WIDTHxHEIGHT #}
      {{ entry.embed_url|oembed:"600x600" }}
    {% endif %}
    {% if entry.embeds_image %}
      <img src="{{ entry.image.display.url }}" width="{{ entry.image.display.width }}" height="{{ entry.image.display.height }}" alt="{{ entry.image.name }}" />
    {% endif %}
  </section>
  <section class="entry-description">
    {{ entry.description|striptags|urlize|linebreaks }}
  </section>
  <section class="entry-meta">
    <div class="stars-form">
      <form action="/rate/lists/entry/{{ entry.id }}/" id="entry-{{ entry.id }}-stars-form" method="post">
        <span id="entry-{{ entry.id }}-stars-wrapper">
          <select name="score" style="width: 120px">
{% endcache %}
            {% generate_options entry.rating request %}
{% cache cache_period entry_html_2 entry.id %}
          </select>
        </span>
      </form>
    </div>
    <div class="entry-info info">
      Added by <span class="nickname">{{ entry.nickname }}</span> on {{ entry.modified }}
    </div>
  </section>
</article>
{% endcache %}
