{% if list.image %}
  <p>
    <a href="/lists/{{ list.id }}/">
      {% if main %}
        <img src="{{ list.image.mainthumbnail.url }}" width="{{ list.image.mainthumbnail.width }}" height="{{ list.image.mainthumbnail.height }}" alt="{{ list.image.name }}" />
      {% endif %}
      {% if sidebar %}
        <img src="{{ list.image.sidebarthumbnail.url }}" width="{{ list.image.sidebarthumbnail.width }}" height="{{ list.image.sidebarthumbnail.height }}" alt="{{ list.image.name }}" />
      {% endif %}
    </a>
  </p>
{% endif %}
<p><a href="/lists/{{ list.id }}/">{{ list.title }}</a></p>
<hr />
