{% extends "base.html" %}

<h1>{{ object.title }}</h1>

{% block body %}
    {% load ratings %}
    {% for entry in object.entry_set.all %}
    {% rating_by_request request on entry.rating as vote %}
    <div>
        <h2>{{ entry.title }}</h2>
        <div>{{ entry.description }}</div>
        <div>
            <form action="/rate/lists/entry/{{ entry.id }}/" method="post">
                {% csrf_token %}
                <select id="form_2" name="score" style="width: 120px"> {# name was "selrate" #}
                    <option value="1">Very poor</option>
                    <option value="2" selected="selected">Not that bad</option>
                    <option value="3">Average</option>
                    <option value="4">Good</option>
                    <option value="5">Perfect</option>
                </select>
                <input type="submit" value="Rate!" />
            </form>
        </div>
        <div>Your vote: {{ vote }}</div>
        <div>votes: {{ entry.rating.votes }}</div>
        <div>score: {{ entry.rating.score }}</div>
    </div>
    {% endfor %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js" type="text/javascript"></script>
{% endblock %}

