{% extends "base.html" %}

{% load django_static %}
{% load lists_tags %}
{% load ratings %}
{% load uni_form_tags %}

{% block title %}{{ block.super }}&nbsp;::&nbsp;{{ list.title }}{% endblock %}
{% block description %}{{ list.description|striptags }}{% endblock %}

{% block extra_head %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}repo/lib/jquery.ui.stars.css" />
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}repo/lib/uni_form/uni-form.css" />
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}repo/lib/uni_form/default.uni-form.css" />
{% endblock %}

{% block content %}
  <article>
    <header id="list-header">
      <h1>{{ list.title|striptags }}</h1>
      {{ list.description|striptags|urlize|linebreaks }}
      <section class="info">Created by <span class="nickname">{{ list.nickname }}</span> on {{ list.created }}</section>
      <div class="sharethis">
        <span class="st_twitter_large" displayText="Tweet"></span><span class="st_facebook_large" displayText="Facebook"></span><span class="st_ybuzz_large" displayText="Yahoo! Buzz"></span><span class="st_gbuzz_large" displayText="Google Buzz"></span><span class="st_email_large" displayText="Email"></span><span class="st_sharethis_large" displayText="ShareThis"></span>
      </div>
    </header>

    <section id="entries">
      {% for entry in entries %}
        {% entry_html entry %}
      {% endfor %}
    </section>
    <div class="sharethis">
      <span class="st_twitter_large" displayText="Tweet"></span><span class="st_facebook_large" displayText="Facebook"></span><span class="st_ybuzz_large" displayText="Yahoo! Buzz"></span><span class="st_gbuzz_large" displayText="Google Buzz"></span><span class="st_email_large" displayText="Email"></span><span class="st_sharethis_large" displayText="ShareThis"></span>
    </div>
  </article>

  <div id="add-entry-w" class="button-w" style="width: 270px">
    <button type="button" id="add-entry">add an item to this list</button>
  </div>

  <section id="entry-form-w">
    <form action="/lists/{{ list.id }}/add/" method="POST" class="uniForm" style="display: none" id="entry-form">
      {% csrf_token %}
      <fieldset class="inlineLabels">
        {{ entry_form|as_uni_form }}
      </fieldset>
      <section class="controls">
        <div id="entry-form-left-control-w">
          <div class="button-w" style="width: 76px">
            <button type="submit" id="submit-entry">ok!</button>
          </div>
        </div>
        <div id="entry-form-right-control-w">
          <div class="button-w" style="width: 111px">
            <button type="button" id="cancel-add-entry">cancel</button>
          </div>
        </div>
      </section>
    </form>
  </section>

  <div id="entry-comment-barrier">
    <hr />
  </div>

  <section>
    <header id="comments-header">
      <h1>Comments</h1>
    </header>
    <section id="comments">
      {% for comment in comments %}
        {% comment_html comment %}
      {% endfor %}
    </section>
    <div id="add-comment-w" class="button-w" style="width: 217px">
      <button type="button" id="add-comment">leave a comment</button>
    </div>
    <section id="comment-form-w">
      <form action="/lists/{{ list.id }}/comment/" method="POST" class="uniForm" style="display: none" id="comment-form">
        {% csrf_token %}
        <fieldset class="inlineLabels">
          {{ comment_form|as_uni_form }}
        </fieldset>
        <section class="controls">
          <div id="comment-form-left-control-w">
            <div class="button-w" style="width: 76px">
              <button type="submit" id="submit-comment">ok!</button>
            </div>
          </div>
          <div id="comment-form-right-control-w">
            <div class="button-w" style="width: 111px">
              <button type="button" id="cancel-add-comment">cancel</button>
            </div>
          </div>
        </section>
      </form>
    </section>
  </section>

  {% if admin_access %}
    {% if not list.published %}
      <section id="admin">
        <hr />
        <hgroup class="share">
          <h1>Ready to share your list with the world?</h1>
        </hgroup>
        <section id="publish">
          <form action="/lists/{{ list.id }}/{{ list.access_code }}/publish/" method="POST" id="publish-form">
            {% csrf_token %}
            <input type="hidden" name="admin_code" value="{{ list.admin_code }}" />
              <div class="button-w" style="width: 146px">
                <button type="submit">publish it!</button>
              </div>
          </form>
        </section>
        <hr />
        <section>
          <hgroup class="share">
            <h1>Just want to share your list with a few friends?</h1>
            <h2>Give them this URL:</h2>
          </hgroup>
          <form>
            <div id="textarea-w" style="width: 374px">
              <textarea cols="50" rows="2">{{ request.META.HTTP_HOST }}{% url unpublished_access list.id list.access_code %}</textarea>
            </div>
          </form>
        </section>
      </section>
    {% endif %}
  {% endif %}

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  {% load jquery_validation %}
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
  {% slimall %}
    <script type="text/javascript" src="{{ MEDIA_URL }}repo/lib/jquery.ui.stars.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}repo/lib/jquery.form.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}repo/lib/jquery.scrollTo-1.4.2.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}repo/cs/list_detail.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}repo/lib/uni_form/uni-form.jquery.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}repo/lib/jquery-ajax-validation.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}repo/lib/jquery-uni-form.js"></script>
  {% endslimall %}
  <script type="text/javascript">
    {% for entry in list.entry_set.all %}
      $("#entry-{{ entry.id }}-stars-wrapper").stars({
        inputType: "select",
        cancelShow: false,
        callback: function (ui, type, value) {
          $("#entry-{{ entry.id }}-stars-form").ajaxSubmit();
        }
      });
    {% endfor %}
  </script>
  <script type="text/javascript">
    $(function () {
      $('#entry-form').validate('{% url entry_form_validate %}', {
        callback: uniform_callback,
        fields: ['title', 'description', 'nickname', 'email', 'embed_url']
      });
    });
    $(function () {
      $('#comment-form').validate('{% url comment_form_validate %}', {
        callback: uniform_callback,
        fields: ['body', 'nickname', 'email']
      });
    });
  </script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'69b2a41e-8e2e-444e-9d3c-2fa3073c5c36'});</script>
{% endblock %}
