{% extends "base.html" %}

{% load django_static %}

{% block title %}create a list&nbsp;::&nbsp;{{ block.super }}{% endblock %}

{% block extra_head %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}repo/lib/uni_form/uni-form.css" />
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}repo/lib/uni_form/default.uni-form.css" />
{% endblock %}

{% block content %}
  {% load uni_form_tags %}
  <header id="create-header">
    <h1>Create a list</h1>
  </header>
  <section>
    <form action="/lists/create/" method="POST" class="uniForm" id="list-form">
      {% csrf_token %}
      <fieldset class="inlineLabels">
        {{ form|as_uni_form }}
      </fieldset>
      <section class="controls">
        <div class="button-w" style="width: 133px">
          <button type="submit" id="create-list">create it!</button>
        </div>
      </section>
    </form>
  </section>

  {% load jquery_validation %}
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  {% slimall %}
    <script type="text/javascript" src="{{ MEDIA_URL }}repo/lib/uni_form/uni-form.jquery.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}repo/lib/jquery-ajax-validation.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}repo/lib/jquery-uni-form.js"></script>
  {% endslimall %}
  <script type="text/javascript">
    $(function () {
      $('#list-form').validate('{% url list_form_validate %}', {
        callback: uniform_callback,
        fields: ['title', 'description', 'nickname', 'email']
      });
    });
  </script>
{% endblock %}
