{% if list.image %}
  <div class="teaser-image" style="width: {% if main %}{{ list.image.mainthumbnail.width }}{% endif %}{% if sidebar %}{{ list.image.sidebarthumbnail.width }}{% endif %}px">
    <a href="/lists/{{ list.id }}/">
      {% if main %}
        <img src="{{ list.image.mainthumbnail.url }}" width="{{ list.image.mainthumbnail.width }}" height="{{ list.image.mainthumbnail.height }}" alt="{{ list.image.name }}" />
      {% endif %}
      {% if sidebar %}
        <img src="{{ list.image.sidebarthumbnail.url }}" width="{{ list.image.sidebarthumbnail.width }}" height="{{ list.image.sidebarthumbnail.height }}" alt="{{ list.image.name }}" />
      {% endif %}
    </a>
  </div>
{% endif %}
<p>
  <a href="/lists/{{ list.id }}/">{{ list.title }}</a>
</p>
<hr />
