{% extends "base.html" %}

{% block stylesheets %}
<!-- <link rel=stylesheet type="text/css" href="/site_media/crystal-stars.css" /> -->
<link rel=stylesheet type="text/css" href="/site_media/jquery.ui.stars.css" />
{% endblock %}

{% block body %}
    <h1>{{ list.title }}</h1>
    <nofollow>{{ list.description|striptags|urlize|linebreaks }}</nofollow>
    {% load lists_tags %}
    {% if request.user.is_authenticated %}
    <p>There <b>is</b> an authenticated user.</p>
    {% else %}
    <p>There <b>isn't</b> an authenticated user.</p>
    {% endif %}
    <div id="entries">
    {% for entry in entries %}
    <div>
        {% entry_html entry %}
    </div>
    {% endfor %}
    </div>
    <div id="add-entry-div"><a href="#" id="add-entry">Add an entry</a></div>
    <div id="entry-form-div" style="display:none">
    {% entry_form %}
    </div>
    {% if admin_access %}
    <form action="/lists/{{ list.id }}/{{ list.access_code }}/publish/" method="POST" class="uniForm" id="publish-form">
    {% csrf_token %}
    <input type="hidden" name="admin_code" value="{{ list.admin_code }}" />
    <fieldset class="inlineLabels">
    <div class="form_block">
        <input type="submit" value="publish" id="add-entry" />
    </div>
    </fieldset>
    </form>
    {% endif %}
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script> -->
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js" type="text/javascript"></script>
<script src="/site_media/jquery.ui.stars.js" type="text/javascript"></script>
<script src="http://github.com/malsup/form/raw/master/jquery.form.js?v2.43" type="text/javascript"></script>
<script src="/site_media/list_detail.js" type="text/javascript"></script>
<script type="text/javascript">
{% for entry in list.entry_set.all %}
$("#stars-wrapper-{{ entry.id }}").stars({
    inputType: "select",
    cancelShow: false,
    callback: function (ui, type, value) {
        $("#stars-form-{{ entry.id }}").ajaxSubmit();
    }
});
{% endfor %}
</script>
{% load jquery_validation %}
{% include_validation %}
<script src="/site_media/jquery-uni-form.js" type="text/javascript"></script>
<script type="text/javascript">
        $(function () {
            $('#entry-form').validate('{% url entry_form_validate %}', {
                callback: uniform_callback,
                fields: ['title', 'description', 'nickname', 'email']
            });
        });
</script>
{% endblock %}

