/* IMPORTS */
@import "reset";
@import "compass/layout.scss";

/* INCLUDES */
@include sticky-footer(50px, "#content", "#stickyFooterHelper", "footer"); /* height, content, div in content, footer */
@import "compass/css3/gradient";

/* MIXINS */
@mixin layoutBorder { border: solid 1px #000; }

@mixin postGradient($top, $middle, $bottom) {
		background: #{$middle};
		@include linear-gradient(color-stops(#{$top}, #{$middle}, #{$bottom})); 
}
@mixin rgba($r, $g, $b, $a) {
	background: rgb($r, $g, $b); /* fallback colour */
	background: rgba($r, $g, $b, $a);
}
	/* FONT STACKS */
	@mixin fontHelvetica ($style, $weight, $size) { font: $style $weight $size Helvetica, "Helvetica-Neue", Arial, sans-serif; }

	@mixin fontReenieBeanie ($style, $weight, $size) { font: $style $weight $size "Reenie Beanie", Helvetica, sans-serif; }

/* VARIABLES */

	/* COLORS */
	$beige: #ed877b;
	$cream: #f1e6d5;
	$darkRed: #95272D;
	$offWhite: #fcfdfb;
	
	/* HEIGHTS */
	$headerH: 130px;
	$navH: 50px;
	$postH: 100px;
	$featuredH: 280px;

	/* MARGINS */
	$contentLeft: 50px;
	$contentTop: 80px;

	/* WIDTHS */
	$featuredW: 530px;


/* FONTS */
@font-face {
  font-family: 'Reenie Beanie';
  font-style: normal;
  font-weight: normal;
  src: local('Reenie Beanie'), url('http://themes.googleusercontent.com/font?kit=ljpKc6CdXusL1cnGUSamX4jjx0o0jr6fNXxPgYh_a8Q') format('truetype');
}

/* GENERAL LAYOUT */
aside, footer { @include layoutBorder; } /* temporary, for seeing purposes only */

article {
	float: left;
	margin: $contentTop 0 0 $contentLeft;
	width: 530px;
}
aside {
	clear: right;
	float: right;
	margin: $contentTop 25px 0 0;
	width: 300px;
}
body {background: $cream url('../images/bg_texture.png') repeat fixed; }

footer {
	width: 960px;
}
header { height: $headerH; }

h1 { @include fontReenieBeanie(normal, normal, 40px);}

h4, h5, h6 { display: inline; }

h4 { /* Excerpt title */
	color: #000;
	@include fontHelvetica(normal, bold, 16px);
} 
h5 { /* author, date */
	color: #000;
	@include fontHelvetica(normal, normal, 12px);
}
h6 { /* minors in byline */
	color: #666;
	@include fontHelvetica(normal, normal, 12px);
}
p {
	@include fontHelvetica(normal, normal, 14px);
	color: #000;
	text-align: justify;
}
nav {
	float: right;
	position: relative;
		right: 5px;
		top: $headerH - $navH;
	
	ul { list-style-type: none; }	
	
	li {
		@include fontReenieBeanie(normal, normal, 29px);
		float: left;
		height: $postH;
		line-height: 80%;
		margin-left: 15px;
		position: relative;
		text-align: center;
		width: 100px;
	}
	
	a {
		color: #000;
		display: block;
		height: $postH - 8px;
		padding-top: 8px;
		text-decoration: none;
		&:visited { color: #000; }
		&:active { color: #fff; }
		width: 100%;
	}
	
	.selected { 
		position: absolute;
		z-index: 300; 
	}
	
	#home { @include postGradient (#ff8f48, #ff6b00, #e55816); }
	#all { @include postGradient (#ff7458, #ff0007, #e1001c); }
	#create { @include postGradient (#ffcc00, #ffab00, #ffab00); }
	#blah { @include postGradient (#cce9a2, #a2da73, #60bf33); }
}
/* GENERAL LAYOUT (CUSTOM) */
.clear { clear: both; }

#content { 
	position: relative;
	width: 100%;
}

.excerpt {
	clear: left;
	float: left;
	height: 300px;
	margin: 45px 45px 0 0;
	width: 250px;
}
	.excerpt.even {
		clear: right;
	}
	.excerpt.odd {
		margin-left: $contentLeft;
	}
	
#featured {
	background: url('../images/border.png') no-repeat;
	float: left;
	height: $featuredH;
	margin: $contentTop 0 0 $contentLeft;
	padding: 10px;
	position: relative;
	width: $featuredW;
	z-index: 3;
	
	a {
		text-decoration: none;
	}
	
	
	$border: 1px;
	$listH: $featuredH - 2*10;
	$listW: 180px;
	$padding: 10px;	
	
	$entryW: $featuredW - ($listW + 2*$padding) - 2*$padding - 2*$border;
	
	.list {
		background: #fff;
		float: left;
		height: $listH;
		padding: $padding;
		width: $listW;
		
		img {
			border: 1px solid #ccc;
			float: left;
			margin: 5px 5px 5px 0;
		}
		p {
			margin-top: 5px;
		}
	}
	
	.entry {
		@include rgba (255, 255, 255, 0.5);
		border: #666 $border solid;
		float: left;
		height: $featuredH/4 - 2*$padding;
		padding: $padding;
		width: $entryW;
	}
	/* SLIDER */
	$btnH: 50px;
	$btnW: 46px;
	
	#slider ul {
		list-style-type: none;
		
		li {
			height: $featuredH;
			overflow: hidden;
			width: $featuredW;
		}	
	}
	#prevBtn, #nextBtn {
		display: block;
		height: $btnH;
		position: absolute;
			top: $featuredH/2 - $btnH/2;
		width: $btnW;
		z-index: -1;
		
		a {
			display: block;
			height: 100%;
			text-indent: -1000px;
			width: 100%;
			&:hover { background-position: 0 -50px; }
		}
	}
		#prevBtn {
			left: -$btnW/2;
			a {	background: url('../images/l_control.png') no-repeat 0 0; }
		}
		#nextBtn {
			right: -$btnW/2;
			a { background: url('../images/r_control.png') no-repeat 0 0; }
		} 
}

h1.featured {
	margin-left: 35px;
	position: relative;
		top: 80px;
}

#wrapper {
	margin: auto;
	width: 960px;
}
/* IMAGE/TEXTURE LAYOUT */
#blueLines {
	background: url('../images/blue_lines.png') repeat;
	height: 95%;
	position: absolute;
		top: 25px;
	width: 100%;
	z-index: -1;
}

#gradient {
	background: $offWhite url('../images/content_texture.jpg') repeat-y;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: -2;
}
	
#paperTexture {
	background: url('../images/paper_texture.png') repeat;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: -1;
}
	
#redLines {
	background: url('../images/red_lines.png') repeat-y;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: -1;
}	
#spiral {
	background: url('../images/spiral.png') repeat-y;
	height: 94%;
	position: absolute;
		left: -16px;
		top: 25px;
	width: 50px;
}

#stain {
	background: url('../images/stains.png');
	height: 183px;
	position: absolute;
		left: 0px;
		top: 0px;
	width: 353px;
	z-index: -2;
}