$page: $blueprint-grid-columns

=nesting-box($total-cols, $nested-cols: $total-cols - 1, $border-width: 2px)
  +column-base
  $total-width: $blueprint-grid-width * $total-cols + $blueprint-grid-margin * ($total-cols - 1)
  $nested-width: $blueprint-grid-width * $nested-cols + $blueprint-grid-margin * ($nested-cols - 1)
  border-width: $border-width
  padding: ($total-width - $nested-width - (2 * $border-width)) / 2
  width: $nested-width

=split($main, $main-size, $left, $left-size, $right, $right-size)
  #{$main}
    +column($main-size)
    +last
    #{$left}
      +column($left-size)
    #{$right}
      +column($right-size)
      +append($main-size - $left-size - $right-size)
      +last

#page
  +container
  //+showgrid
  $sidebar: 5
  $left-sidebar: $sidebar
  $right-sidebar: $sidebar
  $not-right-sidebar: $page - $right-sidebar
  $center: $not-right-sidebar - $left-sidebar
  #not-right-sidebar
    +column($not-right-sidebar)
    #site-header
      $inside: $not-right-sidebar - 1
      +nesting-box($not-right-sidebar, $inside)
      +last
      +append-bottom(10px)
      $image: 6
      $main: $inside - $image
      #header-main
        +column($main)
      #header-image
        +column($image)
        +last
    #left-sidebar
      +nesting-box($left-sidebar)
    #center
      +column($center)
      +last
      +append-bottom(500px)
      +split('nav', $center, '#left-nav', 3, '#right-nav', 4)
      nav
        +append-bottom(10px)
      #content
        +column($center)
        +last
      .main-list
        +nesting-box($center, $center - 1, 0px)
        padding:
          top: 0px
          bottom: 0px
      #list-header
        +nesting-box($center, $center - 1, 0px)
        padding:
          top: 0px
          bottom: 0px
      .entry
        $inside = $center - 1
        +nesting-box($center, $inside)
        +last
        $stars-form: 4
        .stars-form
          +column($stars-form)
        .entry-info
          +column($inside - $stars-form)
          +last
      +split('#entry-form-w', $center, '#entry-form-left-control-w', $center / 2, '#entry-form-right-control-w', $center / 2)
      .comment
        +nesting-box($center)
        +last
      +split('#comment-form-w', $center, '#comment-form-left-control-w', $center / 2, '#comment-form-right-control-w', $center / 2)
  #right-sidebar
    +nesting-box($right-sidebar)
    +last
