@import fancy-buttons
@import partials/style

button
  +fancy-button(adjust-hue($red, 180deg), 1.5em, 50px, 1px)

h1, h2
  font-family: 'Trebuchet MS', sans-serif

.controls
  +prepend-top(10px)

.info
  +quiet
  text-transform: lowercase

.nickname
  +loud
  font-weight: bold
  text-transform: none

.inline
  display: inline
