@import fancy-buttons

button
  +fancy-button

h1, h2
  font-family: 'Trebuchet MS', sans-serif

.info
  +quiet
  text-transform: lowercase

.nickname
  +loud
  font-weight: bold
  text-transform: none
