@import compass/css3/border-radius
@import compass/css3/box-shadow
@import blueprint/fancy-type

// Variables

$button-c: #FF9640
$boundary: #111111
$whitespace: $blueprint-grid-margin


// Mixins

=box-candy
  +prepend-top($whitespace)
  +border-radius(15px)
  background-color: #f0ffff
  border:
    style: solid
    color: #006363

=center
  // Requires that the element's width be specified in the html document, as in
  // <div id="add-entry-w" style="width: 270px">
  // The rationale for this is that if the desired width of the element is
  // going to depend on standard text it contains, as in the case of a button,
  // it'll be nice for the developer to only have to modify one file in order
  // to modify said standard text.
  // Additionally if width of an element is dynamic and its html is being
  // generated, it will be easy for the generator to generate the width
  // declaration along with the other stuff.
  // Google "xray bookmarklet" for an easy way to find an element's width.
  // BTW, I think one can only center elements whose display property is block.
  margin:
    left: auto
    right: auto

=standard-header
  text:
    align: center
    decoration: underline
    transform: lowercase


// Main site header (appears on every page)
#site-header
  +box-candy
  hgroup
    h1
      font-family: 'AlphaEchoRegular', 'MS Serif', 'New York', sans-serif
      font-size: 5.0em
      line-height: .8
      margin-bottom: 0.2em
      // "Deep Cove"
      color: #051040
    h2
      font-size: 1.5em
      line-height: 1
      margin-bottom: 0.05em
      &:before
        content: "..."
      text-transform: lowercase

// Center content (appears on every page)
#center
  #nav
    +prepend-top($whitespace)
    #go-home-w
      +center
    #create-a-list-w
      +center
  // Whitespace at the bottom to prevent comment form glitches
  +append-bottom(500px)
  .controls
    +prepend-top($whitespace)


// Showcases

#main-showcase
  hr
    +colruler
    height: 2px

#left-showcase, #right-showcase
  +box-candy
  hr
    +colruler($boundary)
    height: 1px

#main-header
  +prepend-top($whitespace)
  h1
    font-size: 2em
    margin-bottom: 0.75em
    +standard-header

#left-header, #right-header
  h1
    +standard-header
    font-size: 1.5em
    line-height: 1
    margin-bottom: 1em

.main-list, .right-list, .left-list
  .teaser-image
    +center
  &:last-child
    hr
      display: none
  font-size: 1.1em


// Promotion box
#promobox
  +box-candy
  #twitter
    +loud
    font-size: 1.1em
  #mc_embed_signup
    +append-bottom($whitespace)


// List creation page

#create-header
  +prepend-top($whitespace)
  h1
    +standard-header
    font-size: 2em
    margin-bottom: 0.75em


// List detail page

#list-header
  +box-candy
  h1
    font-size: 3em
    line-height: 1
    margin-bottom: 0.50em
    text-align: center
  .info
    text-align: right
    line-height: 2

.entry
  +box-candy
  .entry-header
    h1
      font-size: 2em
      margin-bottom: 0.75em
      text-align: center
  .embed-w
    +center
  .stars-label
    line-height: 1.4
  .entry-info
    text-align: right
    line-height: 1.4

#comments-header
  +prepend-top($whitespace)
  h1
    font-size: 2em
    margin-bottom: 0.50em
    +standard-header

.comment
  +box-candy
  .comment-info
    text-align: right
