@import compass/css3/border-radius
@import compass/css3/box-shadow
@import bp-typography-extracts
@import blueprint/fancy-type

$red: lighten(#ff3333, 25%)
$boundary: #111111

=box-candy($color-degrees, $corner-radius)
  +border-radius($corner-radius)
  +box-shadow
  background-color: adjust-hue($red, $color-degrees)
  border:
    style: solid
    color: $boundary

=center
  // Requires that the element's width be specified in the html document, as in
  // <div id="add-entry-w" style="width: 270px">
  // The rationale for this is that if the desired width of the element is
  // going to depend on standard text it contains, as in the case of a button,
  // it'll be nice for the developer to only have to modify one file in order
  // to modify said standard text.
  // Additionally if width of an element is dynamic and its html is being
  // generated, it will be easy for the generator to generate the width
  // declaration along with the other stuff.
  // Google "xray bookmarklet" for an easy way to find an element's width.
  // BTW, I think one can only center elements whose display property is block.
  margin:
    left: auto
    right: auto

#site-header
  +box-candy(-90deg, 30px)
  hgroup
    h1
      font-family: 'AlphaEchoRegular', 'MS Serif', 'New York', sans-serif
      font-size: 5.0em
      line-height: 1
      margin-bottom: 0.7em

      // "Deep Cove"
      color: #051040
      text-transform: uppercase
    h2
      +alt
      font-size: 2.0em
      line-height: 1
      margin-bottom: 0em

      &:before
        content: "..."
      text-transform: lowercase
  #header-logo-w
    +center

nav
  #go-home-w
    +center
  #create-a-list-w
    +center

=standard-header
  text:
    align: center
    decoration: underline
    transform: lowercase

#left-header, #right-header
  h1
    +bp-h3
    +standard-header

#left-sidebar, #right-sidebar
  +box-candy(30deg, 10px)
  hr
    +colruler($boundary)
    height: 1px

.main-list, .right-list, .left-list
  .teaser-image
    +center
  &:last-child
    hr
      display: none
  font-size: 1.1em

#main-showcase
  hr
    height: 2px

#add-entry-w, #entry-form-w
  +append-bottom(10px)

#entry-comment-barrier
  hr
    height: 2px

#main-header
  h1
    +bp-h2
    +standard-header

#create-header
  h1
    +bp-h2
    +standard-header

#list-header
  +append-bottom(10px)
  h1
    +bp-h1
    text-align: center
  .info
    text-align: right

article
  #entries, #comments
    hr
      +colspacer

#comments-header
  h1
    +bp-h2
    +standard-header

.entry
  +box-candy(90deg, 10px)
  .entry-header
    h1
      +bp-h2
      text-align: center
  .embed-w
    +center
  .entry-info
    text-align: right
    line-height: 1.15

.comment
  +box-candy(180deg, 10px)
  .comment-info
    text-align: right

#admin
  hr
    +colruler
    +prepend-top(10px)

hgroup.share
  text-transform: lowercase
  h1
    +bp-h3
  h2
    +bp-h4
