{% load django_static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset=UTF-8>
    <!--[if IE]><![endif]-->
    <title>{% block title %}ListJudo.com{% endblock %}</title>
    <link rel="icon" type="image/ico" href="http://listjudo.com/media/repo/favicon.ico" />
    <meta name="description" content="{% block description %}random info of all sorts!{% endblock %}" />
    {% slimall %}
      {% block extra_head %}
        <link href="{{ MEDIA_URL }}repo/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="{{ MEDIA_URL }}repo/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
      {% endblock %}
    {% endslimall %}
    <meta name="google-site-verification" content="" />
    <!--[if IE]>
      <link rel="stylesheet" href="{{ MEDIA_URL }}repo/lib/html5reset/_/css/_patches/win-ie-all.css" />
    <![endif]-->
    <!--[if IE 7]>
      <link rel="stylesheet" href="{{ MEDIA_URL }}repo/lib/html5reset/_/css/_patches/win-ie7.css" />
    <![endif]-->
    <!--[if lt IE 7]>
      <link rel="stylesheet" href="{{ MEDIA_URL }}repo/lib/html5reset/_/css/_patches/win-ie-old.css" />
    <![endif]-->
    <!--[if lt IE 8]>
      <script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- this is a variation of the official analytics snippet: http://mathiasbynens.be/notes/async-analytics-snippet
       replace XXXXXX-XX with your site's ID and uncomment to put this into effect
    <script>
    var _gaq = [['_setAccount', 'UA-XXXXXX-XX'], ['_trackPageview']];
    (function(d, t) {
    var g = d.createElement(t),
    s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = '//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
    })(document, 'script');
    </script> -->
  </head>

  <body class="bp">
    <div id="page">
      {% block body %}
        <div id="not-right-sidebar">
          <header id="site-header">
            {% block header %}
              <div id="header-main">
                <hgroup>
                  <h1>ListJudo.com</h1>
                  <h2>Interesting info of all sorts!</h2>
                </hgroup>
              </div>
              <div id="header-image">
                <div id="header-logo-w" style="width: 160px">
                  <img src="{{ MEDIA_URL }}repo/images/judo.png" width="160" height="151" />
                </div>
              </div>
            {% endblock %}
          </header>

          <section id="left-sidebar" class="sidebar">
            <header id="left-header">
              <h1>{{ left_header }}</h1>
            </header>
            {% for list in left_showcase %}
              <div class="left-list">
                {{ list.sidebar_teaser }}
              </div>
            {% endfor %}
          </section>
          <section id="center">
            <nav>
              <div id="left-nav">
                <div id="go-home-w" class="button-w" style="width: 101px">
                  <form action="/lists/" method="get" class="inline"><button type="submit" id="go-home">home</button></form>
                </div>
              </div>
              <div id="right-nav">
                <div id="create-a-list-w" class="button-w" style="width: 162px">
                  <form action="/lists/create/" method="get" class="inline"><button type="submit" id="create-a-list">create a list</button></form>
                </div>
              </div>
            </nav>
            <section id="content">
              {% block content %}
              {% endblock %}
            </section>
          </section>
        </div>
        <section id="right-sidebar" class="sidebar">
          <header id="right-header">
            <h1>{{ right_header }}</h1>
          </header>
          {% for list in right_showcase %}
            <div class="right-list">
              {{ list.sidebar_teaser }}
            </div>
          {% endfor %}
        </section>
      {% endblock %}
    </div>
  </body>
</html>
