{% load django_static %}
<!doctype html>
<html>
  <head>
    <meta charset=UTF-8>
    <title>{% block title %}listjudo.com{% endblock %}</title>
    <meta name="description" content="{% block description %}fun with lists!{% endblock %}" />
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <![endif]-->
    {% slimall %}
      {% block extra_head %}
        <link href="{{ MEDIA_URL }}/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="{{ MEDIA_URL }}/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
      {% endblock %}
    {% endslimall %}
    <!--[if lt IE 8]>
      <link href="{{ MEDIA_URL }}/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
  </head>

  <body class="bp">
    <div id="page">
      {% block body %}
        <div id="not-right-sidebar">
          <header id="site-header">
            {% block header %}
              <div id="header-main">
                <hgroup>
                  <h1>ListJudo.com</h1>
                  <h2>Fun with lists!</h2>
                </hgroup>
              </div>
              <div id="header-image">
                <img src="{{ MEDIA_URL }}/images/judo.png" width="200" height="200" />
              </div>
            {% endblock %}
          </header>

          <section id="left-sidebar" class="sidebar">
            <header id="left-header">
              <h1>{{ left_header }}</h1>
            </header>
            {% for list in left_showcase %}
              <div class="left-list">
                {{ list.sidebar_teaser }}
              </div>
            {% endfor %}
          </section>
          <section id="center">
            <nav>
              <div id="left-nav">
                <div id="go-home-w" class="button-w" style="width: 101px">
                  <form action="/lists/" method="get" class="inline"><button type="submit" id="go-home">home</button></form>
                </div>
              </div>
              <div id="right-nav">
                <div id="create-a-list-w" class="button-w" style="width: 162px">
                  <form action="/lists/create/" method="get" class="inline"><button type="submit" id="create-a-list">create a list</button></form>
                </div>
              </div>
            </nav>
            <section id="content">
              {% block content %}
              {% endblock %}
            </section>
          </section>
        </div>
        <section id="right-sidebar" class="sidebar">
          <header id="right-header">
            <h1>{{ right_header }}</h1>
          </header>
          {% for list in right_showcase %}
            <div class="right-list">
              {{ list.sidebar_teaser }}
            </div>
          {% endfor %}
        </section>
      {% endblock %}
    </div>
  </body>
</html>
