{% load ratings %}
{% load oembed_tags %}
<h2>{{ entry.title }}</h2>
<div>{{ entry.description|striptags|urlize|linebreaks }}</div>
<div>
    <form action="/rate/lists/entry/{{ entry.id }}/" id="stars-form-{{ entry.id }}" method="post">
        {% csrf_token %}
        <div id="stars-wrapper-{{ entry.id }}">
        <select name="score" style="width: 120px">
            {% generate_options entry.rating request %}
        </select>
        <noscript><input type="submit" value="Go!" /></noscript>
        </div>
    </form>
</div>
<div>
        <div>votes: {{ entry.rating.votes }}</div>
        <div>score: {{ entry.rating.score }}</div>
        {% if entry.embed_url %}
            <div>{{ entry.embed_url|oembed }}</div>
        {% endif %}
        {% if entry.image %}
            <div><p><img src="{{ entry.image.display.url }}" width="{{ entry.image.display.width }}" height="{{ entry.image.display.height }}" alt="{{ entry.image.name }}" /></p></div>
        {% endif %}
</div>
