{% extends "base.html" %}

{% load django_static %}
{% load ratings %}

{% block title %}&nbsp;|&nbsp;{{ list.title }}{% endblock %}

{% block description %}{{ list.description|striptags }}{% endblock %}

{% block extra_head %}
    {% slimall %}
    <link rel="stylesheet" type="text/css" href="/versioned/lib/jquery.ui.stars.css" />
    <link rel="stylesheet" type="text/css" href="/versioned/lib/uni_form/uni-form.css" />
    <link rel="stylesheet" type="text/css" href="/versioned/lib/uni_form/default.uni-form.css" />
    {% endslimall %}
{% endblock %}

{% block content %}
    {% load lists_tags %}
    {% load uni_form_tags %}
    <article>
    
	    <h1>{{ list.title|striptags }}</h1>
    	<p>{{ list.description|striptags|urlize|linebreaks }}<p>
    	<p><small>Created on {{ list.created }}.</small></p>

		<div class="entries">
    	{% if entries %}
        	{% for entry in entries %}
        		<a name="{{ entry.title|slugify }}"></a>
         	   {% entry_html entry %}
        	{% endfor %}
    	{% endif %}
   	 	</div><!--.entries-->
	</article>
	<div class="clear"></div>
	
    <div id="add-entry-div"><a href="#entry-form-div" id="add-entry">Add an entry</a></div>

    <div id="entry-form-div" style="display:none">
        {% entry_form %}
    </div>

    {% if comments %}
        <h2>Comments</h2>
        <div id="comments">
        {% for comment in comments %}
            {% comment_html comment %}
        {% endfor %}
        </div>
    {% endif %}

    {% if admin_access %}
        {% if not list.published %}
        <hr />
        <div>
        <p><b>Ready to share your list with the world?</b>
        <form action="/lists/{{ list.id }}/{{ list.access_code }}/publish/" method="POST" class="uniForm" id="publish-form">
            {% csrf_token %}
            <input type="hidden" name="admin_code" value="{{ list.admin_code }}" />
            <fieldset class="inlineLabels">
                <div class="form_block">
                    <input type="submit" value="Publish It!" />
                </div>
            </fieldset>
        </form>
        </p>
        <p><b>Just want to share your list with a few friends?</b>  Give them this URL:</p>
        <p>
            <form>
                <textarea>{{ request.META.HTTP_HOST }}{% url unpublished_access list.id list.access_code %}</textarea>
            </form>
        </p>
        </div>
        {% endif %}
    {% endif %}
    {% if show_comment_form %}
        <h2>Add a Comment</h2>
        <div id="comment-form-div">
            <form action="/lists/{{ list.id }}/comment/" method="POST" class="uniForm" id="comment-form">
                {% csrf_token %}
                <fieldset class="inlineLabels">
                {{ comment_form|as_uni_form }}
                <div class="form_block">
                    <input type="submit" value="add your comment" id="add-comment" />
                </div>
                </fieldset>
            </form>
        </div>
    {% endif %}
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    {% load jquery_validation %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
    {% slimall %}
    <script type="text/javascript" src="/versioned/lib/jquery.ui.stars.js"></script>
    <script type="text/javascript" src="/versioned/lib/jquery.form.js"></script>
    <script type="text/javascript" src="/versioned/lib/jquery.scrollTo-1.4.2.js"></script>
    <script type="text/javascript" src="/versioned/cs/list_detail.js"></script>
    <script type="text/javascript" src="/versioned/lib/uni_form/uni-form.jquery.js"></script>
    <script type="text/javascript" src="/versioned/lib/jquery-ajax-validation.js"></script>
    <script type="text/javascript" src="/versioned/lib/jquery-uni-form.js"></script>
    {% endslimall %}
    <script type="text/javascript">
        {% for entry in list.entry_set.all %}
            $("#stars-wrapper-{{ entry.id }}").stars({
                inputType: "select",
                cancelShow: false,
                callback: function (ui, type, value) {
                    $("#stars-form-{{ entry.id }}").ajaxSubmit();
                }
            });
        {% endfor %}
        $(function () {
            $('#entry-form').validate('{% url entry_form_validate %}', {
                callback: uniform_callback,
                fields: ['title', 'description', 'nickname', 'email', 'embed_url']
            });
        });
        $(function () {
            $('#comment-form').validate('{% url comment_form_validate %}', {
                callback: uniform_callback,
                fields: ['body', 'nickname', 'email']
            });
        });
    </script>
{% endblock %}
