{% extends "base.html" %}

{% block title %}{{ list.title }} - {{ block.super }}{% endblock %}

{% block description %}{{ list.description|striptags }}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}versioned/lib/jquery.ui.stars.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}versioned/lib/uni_form/uni-form.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}versioned/lib/uni_form/default.uni-form.css" />
{% endblock %}

{% block content %}
    {% load lists_tags %}
    {% load uni_form_tags %}
    <h1>{{ list.title }}</h1>
    <p>{{ list.description|striptags|urlize|linebreaks }}<p>

    <div id="entries">
    {% for entry in entries %}
        <div>
            {% entry_html entry %}
        </div>
    {% endfor %}
    </div>

    <div id="add-entry-div"><a href="#entry-form-div" id="add-entry">Add an entry</a></div>

    <div id="entry-form-div" style="display:none">
        {% entry_form %}
    </div>

    <div id="comments">
    {% for comment in comments %}
        <div>
            {% comment_html comment %}
        </div>
    {% endfor %}
    </div>

    {% if admin_access %}
        <form action="/lists/{{ list.id }}/{{ list.access_code }}/publish/" method="POST" class="uniForm" id="publish-form">
            {% csrf_token %}
            <input type="hidden" name="admin_code" value="{{ list.admin_code }}" />
            <fieldset class="inlineLabels">
                <div class="form_block">
                    <input type="submit" value="publish" />
                </div>
            </fieldset>
        </form>
    {% endif %}
    {% if show_comment_form %}
        <h2>Add a Comment</h2>
        <div id="comment-form-div">
            <form action="/lists/{{ list.id }}/comment/" method="POST" class="uniForm" id="comment-form">
                {% csrf_token %}
                <fieldset class="inlineLabels">
                {{ comment_form|as_uni_form }}
                <div class="form_block">
                    <input type="submit" value="add your comment" id="add-comment">
                </div>
                </fieldset>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% load jquery_validation %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}versioned/lib/jquery.ui.stars.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}versioned/lib/jquery.form.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}versioned/lib/jquery.scrollTo-1.4.2.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}versioned/cs/list_detail.js"></script>
    <script type="text/javascript">
        {% for entry in list.entry_set.all %}
            $("#stars-wrapper-{{ entry.id }}").stars({
                inputType: "select",
                cancelShow: false,
                callback: function (ui, type, value) {
                    $("#stars-form-{{ entry.id }}").ajaxSubmit();
                }
            });
        {% endfor %}
    </script>
    <script type="text/javascript" src="{{ MEDIA_URL }}versioned/lib/uni_form/uni-form.jquery.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}versioned/lib/jquery-ajax-validation.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}versioned/lib/jquery-uni-form.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#entry-form').validate('{% url entry_form_validate %}', {
                callback: uniform_callback,
                fields: ['title', 'description', 'nickname', 'email', 'embed_url']
            });
        });
        $(function () {
            $('#comment-form').validate('{% url comment_form_validate %}', {
                callback: uniform_callback,
                fields: ['body', 'nickname', 'email']
            });
        });
    </script>
{% endblock %}
