{% extends "base.html" %}

{% block body %}
{% load uni_form_tags %}
<form action="/lists/create/" method="POST" class="uniForm" id="list-form">
    {% csrf_token %}
    <fieldset class="inlineLabels">
    {{ form|as_uni_form }}
    <div class="form_block">
        <input type="submit" value="create" id="add-entry">
    </div>
    </fieldset>
</form>
{% load jquery_validation %}
{% include_validation %}
<script src="/site_media/jquery-uni-form.js" type="text/javascript"></script>
<script type="text/javascript">
        $(function () {
            $('#list-form').validate('{% url list_form_validate %}', {
                callback: uniform_callback,
                fields: ['title', 'description', 'nickname', 'email']
            });
        });
</script>
{% endblock %}
